# API
API_PORT=5000
API_INTERNAL_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

# DATABASE
DB_HOST=db
DB_PORT=1433
DB_NAME=MotorsportDb
DB_USER=sa
DB_PASSWORD=CHANGE_ME

# JWT
JwtSettings__Secret=CHANGE_ME
JwtSettings__Issuer=MotorsportApi
JwtSettings__Audience=MotorsportClient
JwtSettings__ExpirationHours=2

# INITIAL DATA
SeedSettings__AdminPassword=CHANGE_ME